*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   body{
    background-image: url(./starter-code/assets/background-stars.svg);
    background-color: var(--transparent-black);
  
   }

:root{
    --primary-color:#ffffff;
    --transparent-black: #070724;
    --light-deep-gray: #38384F;
    --light-gray: #838391;
    --blue-acqua-color: #419EBB;
    --light-orange: #EDA249;
    --light-violet: #6f2ed6;
    --light-red: #d14c32;
    --deep-red: #d83a34;
    --deep-orange: #cd5120;
    --light-green: #1ec2a4;
    --light-blue: #2d68f0;
    --Antonio:  'Antonio', sans-serif;
    font-family: 'Poppins', sans-serif;
    --spartan: font-family: 'Antonio', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
} 

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 2.0625rem; */
    padding: 2.0625rem 4rem;
}


.side-bar{
    display: none;
}

.open img{
    display: none;
} 

.solar-image{


    display: flex;
    flex-direction: column;
    position: relative;
    
    
}

.solar-image img{
   
}






 .mobile-links {
    display: none;
}
.nav-links a{
text-decoration: none;
text-transform: uppercase;
margin-right: 1.5rem;
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 25px;
letter-spacing: 1px;
text-transform: uppercase;
color: var(--primary-color)
} 


.logo h1{
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
letter-spacing: -1.05px;
text-transform: uppercase;
font-family: var(--Antonio);
font-family: var(--spartan);
color: var(--primary-color);
} 


.line hr{
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 5.3125rem;
    mix-blend-mode: normal;
    opacity: 0.2;
}

.mobile-line hr{
    display: none;
  }


.buttons{
    margin-top: 2.4375rem;
    cursor: pointer;
}


.buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.middle-section-text{
 
  

    

}

/* #bigImage{
  display: none;
} */

.solar-image img{
    width: 290px;
    width: 290px;
}

.middle-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 7rem;

}

.middle-paragraph p{
font-family: var(--spartan);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
width: 330px;
margin-top:1.4375rem;
color: var(--primary-color)

}
.middle-small-text{
    margin-top: 1.5rem;
} 

.middle-small-text p{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
font-family: var(--spartan);
}

.middle-small-text a{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
font-family: var(--spartan);
}


.middle-heading h1{
    font-family: var(--Antonio);
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 104px;
color: var(--primary-color);    

/* identical to box height */

text-transform: uppercase;
}

.first-button{
    width: 350px;
    height: 48px;
    background-color: var(--blue-acqua-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    
}

.first-button{
    display: flex;
    align-items: center;
    gap: 1.75rem;
    padding-left: 1.75rem;
    
}

.btn1 p{
font-family: var(--spartan);
/* font-family: 'Spartan'; */
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 25px;
letter-spacing: 2.57143px;
text-transform: uppercase;
}

.btn2 p{
    font-family: var(--spartan);
    text-transform: uppercase;
    font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 25px;
letter-spacing: 2.57143px;
text-transform: uppercase;
}


.second-button{
    width: 350px;
    height: 48px;
 background: transparent;
 border: 1px solid var(--primary-color);
    color: var(--primary-color);
    
}


.second-button:hover{
    background-color: var(--light-deep-gray);
    border: none;
}
.second-button{
    display: flex;
    align-items: center;
    gap: 1.75rem;
    padding-left: 1.75rem;
    
}
.btn3 p{
    font-family: var(--spartan);
    /* font-family: 'Spartan'; */
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    }
    
    .btn4 p{
        font-family: var(--spartan);
        text-transform: uppercase;
        font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    }

    .third-button{
        width: 350px;
        height: 48px;
    background: transparent;
 border: 1px solid var(--primary-color);
    color: var(--primary-color);
  
       
       
        
    }
    
    .third-button{
        display: flex;
        align-items: center;
        gap: 1.75rem;
        padding-left: 1.75rem;
        
    }

    .btn5 p{
        font-family: var(--spartan);
        /* font-family: 'Spartan'; */
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: 2.57143px;
        text-transform: uppercase;
        }
        
        .btn6 p{
            font-family: var(--spartan);
            text-transform: uppercase;
            font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: 2.57143px;
        text-transform: uppercase;
        }
    
 

          .days{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 5.438rem;
          }


        .day1{
            width: 255px;
            height: 128px;
            background: transparent;
            border: 1px solid var(--primary-color);
           padding-left: 1.4375rem;
           padding-top: 1.25rem;
        }

        .day-heading1 p{
    font-family: var(--spartan);
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
        }

        .day-text1 p{
    
font-family: var(--Antonio);
font-family: 'Antonio';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
letter-spacing: -1.5px;
text-transform: uppercase;
color: #FFFFFF;


        }



        .day2{
            width: 255px;
            height: 128px; background: transparent;
            border: 1px solid var(--primary-color);
           padding-left: 1.4375rem;
           padding-top: 1.25rem;
        }

        .day-heading2 p{
    font-family: var(--spartan);
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
        }

        .day-text2 p{
    
font-family: var(--Antonio);
font-family: 'Antonio';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
letter-spacing: -1.5px;
text-transform: uppercase;
color: #FFFFFF;


        }

        .day3{
            width: 255px;
            height: 128px;
            background: transparent;
 border: 1px solid var(--primary-color);
           padding-left: 1.4375rem;
           padding-top: 1.25rem;
        }

        .day-heading3 p{
    font-family: var(--spartan);
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
        }

        .day-text3 p{
    
font-family: var(--Antonio);
font-family: 'Antonio';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
letter-spacing: -1.5px;
text-transform: uppercase;
color: #FFFFFF;


        }


        .day4{
            width: 255px;
            height: 128px;
            background: transparent;
 border: 1px solid var(--primary-color);
           padding-left: 1.4375rem;
           padding-top: 1.25rem;
        }

        .day-heading4 p{
    font-family: var(--spartan);
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
        }

        .day-text4 p{
    
font-family: var(--Antonio);
font-family: 'Antonio';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
letter-spacing: -1.5px;
text-transform: uppercase;
color: #FFFFFF;


}


/* Media Queries for Tablets */ 
@media only screen and (max-width:820px) and (min-width: 450px){
    body{
       width: 100%;
       height: 950px;
    }

    .open img{
        display: none;
    }
    
    .mobile-links {
        display: none;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
    }


    .middle-section{
        display: flex;
        flex-direction: column;
    }


    .middle-section-text{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4.313rem; 
        position: relative;
        top: 8.125rem;
       
    }


    .logo h1{
        font-family: var(--Antonio);
        font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
letter-spacing: -1.05px;
text-transform: uppercase;

    } 


    .nav-links a{
        mix-blend-mode: normal;
opacity: 0.75;
position: relative;
top:2.438rem;
    }


 .mobile-line hr{
   display: none;
 }
    .line hr{
        position: relative;
        top: 4rem;
 
    }

    .middle-heading h1{
        font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 62px;
text-transform: uppercase;
color: var(--primary-color);
font-family: var(--Antonio);
    }

.middle-paragraph p{
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 22px;
width: 320px;
font-family: var(--spartan);
}


.first-button{
    width: 281px;
}

.second-button{
    width: 281px;
}

.third-button{
    width: 281px;
} 



.days{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}


.days{
  position: relative;
  top: 4rem;
  
}

.day1{
    width: 164px;
    height: 88px;
}
.day2{
    width: 164px;
    height: 88px;
}
.day3{
    width: 164px;
    height: 88px;
}

.day4{
    width: 164px;
    height: 88px;
}


.day-heading1 p{
    font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 16px;
letter-spacing: 0.727273px;
text-transform: uppercase;
color: var(--primary-color);
mix-blend-mode: normal;
opacity: 0.5;
font-family: var(--spartan);
}

.day-text1 p{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
color: var(--primary-color);
font-family: var(--Antonio);

letter-spacing: -0.9px;
text-transform: uppercase;
}


.day-heading2 p{
    font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 16px;
letter-spacing: 0.727273px;
text-transform: uppercase;
color: var(--primary-color);
mix-blend-mode: normal;
opacity: 0.5;
font-family: var(--spartan);
}

.day-text2 p{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
color: var(--primary-color);
font-family: var(--Antonio);

letter-spacing: -0.9px;
text-transform: uppercase;
}

.day-heading3 p{
    font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 16px;
letter-spacing: 0.727273px;
text-transform: uppercase;
color: var(--primary-color);
mix-blend-mode: normal;
opacity: 0.5;
font-family: var(--spartan);
}

.day-text3 p{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
color: var(--primary-color);
font-family: var(--Antonio);

letter-spacing: -0.9px;
text-transform: uppercase;
}


.day-heading4 p{
    font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 16px;
letter-spacing: 0.727273px;
text-transform: uppercase;
color: var(--primary-color);
mix-blend-mode: normal;
opacity: 0.5;
font-family: var(--spartan);
}

.day-text4 p{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
color: var(--primary-color);
font-family: var(--Antonio);

letter-spacing: -0.9px;
text-transform: uppercase;
}

}

/* Media queries for small screens */ 

@media only screen and (max-width:425px) and (min-width:305px) { 

    body{
        width:100%;
        height: 950px;
    } 

.nav-links{
    display: none;
} 

.open img{
    display: block;
}
    
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  
}


.logo h1{
font-family: var(--Antonio);
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
letter-spacing: -1.05px;
text-transform: uppercase;


}

.line hr{
width: 375px;
height: 1px;
mix-blend-mode: normal;
opacity: 0.2;
background: var(--primary-color);
}

.mobile-links {
    display: flex;
    align-items: center;
    justify-content: space-around;

} 

.mobile-links a{
text-decoration: none;
text-transform: uppercase;
font-style: normal;
font-weight: 700;
font-size: 9px;
line-height: 10px;
width: 80px; 
font-family: var(--spartan);
text-align: center;
letter-spacing: 1.92857px;
text-transform: uppercase;
color: var(--primary-color);
margin-top: 2.5rem;
display: block  ;
}


.mobile-line hr{
width: 375px;
height: 1px;
background: var(--primary-color);
mix-blend-mode: normal;
opacity: 0.2;
margin-top: 1rem;
display: block;
}


.middle-section{
    display: flex;
    flex-direction: column;
}

.solar-image img{
    width: 111px;
    height: 111px;
}

.middle-heading h1{
    font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
font-family: var(--Antonio);

text-align: center;
text-transform: uppercase;
}

.middle-paragraph p{
    font-family: 'Spartan';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 22px;
width: 250px;
text-align: center;
margin: 1rem auto;
}


.middle-small-text {
   
    text-align: center;

}


.buttons{
    display: none;
}

.days{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.day1{
  width: 327px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;   
  mix-blend-mode: normal;

border: 1px solid #FFFFFF;
}

.day-heading1 p{
    font-style: normal;
font-weight: 700;
font-size: 8px;
line-height: 16px;
font-family: var(--spartan);

letter-spacing: 0.727273px;
text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}

.day-text1 p{
    font-family: 'Antonio';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;


text-align: right;
letter-spacing: -0.75px;
text-transform: uppercase;

color: #FFFFFF;
} 




.day2{
    width: 327px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    mix-blend-mode: normal;

  border: 1px solid #FFFFFF;
  }
  
  .day-heading2 p{
      font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  font-family: var(--spartan);
  
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  }
  
  .day-text2 p{
      font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  
  
  text-align: right;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  }
  



  .day3{
    width: 327px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    mix-blend-mode: normal;

  border: 1px solid #FFFFFF;
  }
  
  .day-heading3 p{
      font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  font-family: var(--spartan);
  
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  }
  
  .day-text3 p{
      font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  
  
  text-align: right;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  }

  .day4{
    width: 327px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    mix-blend-mode: normal;

  border: 1px solid #FFFFFF;
  }
  
  .day-heading4 p{
      font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  font-family: var(--spartan);
  
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  }
  
  .day-text4 p{
      font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  
  
  text-align: right;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  } 

  .side-bar{
    display: block;
  }

  .side-bar{
    width: 100%;
    height: 950px;
    position: fixed;
    z-index:9;
  }

  .side-bar-container{
    width: 100%;
    height: 950px;

    background: var(--transparent-black);
   
    
  } 


  .mobile-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2.0625rem;
  }

  .mobile-logo h1{
    font-family: var(--Antonio);
    font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
letter-spacing: -1.05px;
text-transform: uppercase;

color: var(--primary-color);
  }

  .close img{
    mix-blend-mode: normal;
    opacity: 0.25;
  }


.nav-line{
    padding-top: 1rem;
}
  
.left-mercury{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.left-left{
    display: flex;
    align-items: center;
    gap: 1.563rem;
   
   
} 
.planet-mobile-links{
    padding: 2.75rem 2rem ;
    
    
} 

.planet-mobile-links hr{
  opacity: 0.2;
}

.planet-mobile-links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.planet-mobile-links a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: var(--spartan);
    font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
/* identical to box height, or 167% */

text-align: center;
letter-spacing: 1.36364px;
text-transform: uppercase;
}


.side-bar{
    display: none;
}



} 

@media only screen and (max-width:425px) and (min-width:305px){
    body{
       
    }


    .line hr{
        width: 414px;
    }


    .mobile-line hr{
        width: 414px;
    }


 

}

